<a href="https://colab.research.google.com/github/DataGF/data-science-python-exercises/blob/master/python_variables_and_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.utils.colab.set_colab_file_id('1quvlu_V-F-aUTsZiJ1O-V6tiOk3gm_gP')

     |████████████████████████████████| 71kB 2.3MB/s
  Building wheel for uuid (setup.py) ... done

# A Quick Tour of Variables and Data Types in Python

### Part 2 of "A Gentle Introduction to Programming with Python"

This tutorial is the second in a series on introduction to programming using the Python language. These tutorials take a practical coding-based approach, and the best way to learn the material is to execute the code and experiment with the examples. Check out the full series here: 

1. [First Steps with Python and Jupyter](https://jovian.ml/aakashns/first-steps-with-python)
2. [A Quick Tour of Variables and Data Types](https://jovian.ml/aakashns/python-variables-and-data-types)
3. [Branching using Conditional Statements and Loops](https://jovian.ml/aakashns/python-branching-and-loops)
4. [Writing Reusable Code Using Functions](https://jovian.ml/aakashns/python-functions-and-scope)
5. [Reading from and Writing to Files](https://jovian.ml/aakashns/python-os-and-filesystem)
6. [Object Oriented Programming with Classes](https://jovian.ml/aakashns/python-object-oriented-programming)

## How to run the code

This tutorial hosted on [Jovian.ml](https://www.jovian.ml), a platform for sharing data science projects online. You can "run" this tutorial and experiment with the code examples in a couple of ways: *using free online resources* (recommended) or *on your own computer*.

>  This tutorial is a [Jupyter notebook](https://jupyter.org) - a document made of "cells", which can contain explanations in text or code written in Python. Code cells can be executed and their outputs e.g. numbers, messages, graphs, tables, files etc. can be viewed within the notebook, which makes it a really powerful platform for experimentation and analysis. Don't afraid to experiment with the code & break things - you'll learn a lot by encoutering and fixing errors. You can use the "Kernel > Restart & Clear Output" menu option to clear all outputs and start again from the top of the notebook.

### Option 1: Running using free online resources (1-click, recommended)

The easiest way to start executing this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. You can also select "Run on Colab" or "Run on Kaggle", but you'll need to create an account on [Google Colab](https://colab.research.google.com) or [Kaggle](https://kaggle.com) to use these platforms.


### Option 2: Running on your computer locally

You'll need to install Python and download this notebook on your computer to run in locally. We recommend using the [Conda](https://docs.conda.io/en/latest/) distribution of Python. Here's what you need to do to get started:

1. Install Conda by [following these instructions](https://conda.io/projects/conda/en/latest/user-guide/install/index.html). Make sure to add Conda binaries to your system `PATH` to be able to run the `conda` command line tool from your Mac/Linux terminal or Windows command prompt. 


2. Create and activate a [Conda virtual environment](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html) called `zerotopandas` which you can use for this tutorial series:
```
conda create -n intro-to-python -y python=3.8 
conda activate intro-to-python
```
You'll need to create the environment only once, but you'll have to activate it every time want to run the notebook. When the environment is activated, you should be able to see a prefix `(intro-to-python)` within your terminal or command prompt.


3. Install the required Python libraries within the environmebt by the running the following command on your  terminal or command prompt:
```
pip install jovian jupyter numpy pandas matplotlib seaborn --upgrade
```

4. Download the notebook for this tutorial using the `jovian clone` command:
```
jovian clone aakashns/python-variables-and-data-types
```
The notebook is downloaded to the directory `python-variables-and-data-types`.


5. Enter the project directory and start the Jupyter notebook:
```
cd python-variables-and-data-types
jupyter notebook
```

6. You can now access Jupyter's web interface by clicking the link that shows up on the terminal or by visiting http://localhost:8888 on your browser. Click on the notebook `python-variables-and-data-types.ipynb` to open it and run the code. If you want to type out the code yourself, you can also create a new notebook using the "New" button.

## Storing information using variables

Computers are useful for two purposes: storing information and performing operations on stored information. While working with a programming language such as Python, informations is stored in *variables*. You can think of variables are containers for storing data. The data stored within a variable is called it's *value*. It's really easy to create variables in Python, as we've already seen in the [previous tutorial](https://jovian.ml/aakashns/first-steps-with-python/v/4#C15).

In [2]:
my_favorite_color = "blue"

In [3]:
my_favorite_color

'blue'

A variable is created using an *assignment statement*, which begins with the variable's name, followed by the assignment operator `=` (different from the equality comparision operator `==`), followed by the value to be stored within the variable. 

You can also values to multiple variables in a single statement by separating the variable names and values with commas.

In [4]:
color1, color2, color3 = "red", "green", "blue"

In [5]:
color1

'red'

In [6]:
color2

'green'

In [7]:
color3

'blue'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [8]:
color4 = color5 = color6 = "magenta"

In [9]:
color4

'magenta'

In [10]:
color5

'magenta'

In [11]:
color6

'magenta'

You can change the value stored within a variable simply by assigning a new value to it using another assignment statement. Be careful while reassgining variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [13]:
my_favorite_color = "black"

In [14]:
my_favorite_color

'black'

While assigning a new value to a variable, you can also use the previous value of the variable to determine the new value.

In [15]:
counter = 10

In [16]:
counter = counter + 1

In [17]:
counter

11

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very commonly used, so Python provides a *shorthand* syntax for it.

In [18]:
counter = 10

In [19]:
# Same as `counter = counter + 4`
counter += 4

In [20]:
counter

14

Variable names can be short (`a`, `x`, `y` etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers` etc.). Howerver, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot start with a number.
* A variable name can only contain lowercase or uppercase letters, digits or underscores (`a`-`z`, `A`-`Z`, `0`-`9` and `_`).
* Variable names are case-sensitive i.e. a_variable, A_Variable and A_VARIABLE are all different variables.

Here are some valid variable names:

In [21]:
a_variable = 9
is_today_Saturday = False
my_favorite_car = "Ferrari"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

Let's also try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules which govern what a valid instruction or *statement* in the language should look like. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [22]:
a variable = 9

SyntaxError: ignored

In [23]:
is_today_$aturday = False

SyntaxError: ignored

In [25]:
my-favorite-car = "Ferrari"

SyntaxError: ignored

In [26]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

SyntaxError: ignored

### Save and upload your notebook

Whether you're running this Jupyter notebook on an online service like Binder or on your local machine, it's important to save your work from time, so that you can access it later, or share it online. You can upload this notebook to your [Jovian.ml](https://jovian.ml) account using the `jovian` Python library.

In [ ]:
# Install the jovian library
!pip install jovian --upgrade --quiet

In [ ]:
import jovian

In [ ]:
jovian.commit(project='python-variables-and-data-types')

[jovian] Attempting to save notebook..

The first time you run `jovian.commit`, you'll be asked to provide an API Key, to securely upload the notebook to your Jovian.ml account. You can get the API key from your Jovian.ml profile page after logging in / signing up.

![api-key](https://i.imgur.com/YGGLH3e.png)

`jovian.commit` uploads the notebook to your Jovian.ml account, captures the Python environment and creates a shareable link for your notebook as shown above. You can use this link to share your work and let anyone (including you) run your notebooks and reproduce your work.

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. The type of data stored within a variable can be checked using the `type` function.

In [27]:
a_variable

9

In [28]:
type(a_variable)

int

In [29]:
is_today_Saturday

False

In [30]:
type(is_today_Saturday)

bool

In [31]:
my_favorite_car

'Ferrari'

In [32]:
type(my_favorite_car)

str

In [33]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [34]:
type(the_3_musketeers)

list

Python has several built-in data types for storing different types of information in variables. Following are at some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None and string are *primitive data types* because they represent a single value. Other data types like list, tuple and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [35]:
current_year = 2020

In [36]:
current_year

2020

In [37]:
type(current_year)

int

Unlike some other programming languages, integers in Python can be arbirarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int` etc. in C/C++/Java).

In [38]:
a_large_negative_number = -23374038374832934334234317348343

In [39]:
a_large_negative_number

-23374038374832934334234317348343

In [40]:
type(a_large_negative_number)

int

### Float

Floats (or floating point numbers) are numbers with a decimal point. There are no limits on the value of a float or the number of digits before or after the decimal point. Floating point numbers have the type `float`.

In [41]:
pi = 3.141592653589793238

In [42]:
pi

3.141592653589793

In [43]:
type(pi)

float

Note that a whole number is treated as a float if it is written with a decimal point, even though the decimal portion of the number is zero.

In [44]:
a_number = 3.0

In [45]:
a_number

3.0

In [46]:
type(a_number)

float

In [47]:
another_number = 4.

In [48]:
another_number

4.0

In [49]:
type(another_number)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [50]:
one_hundredth = 1e-2

In [51]:
one_hundredth

0.01

In [52]:
type(one_hundredth)

float

In [53]:
avogadro_number = 6.02214076e23

In [54]:
avogadro_number

6.02214076e+23

In [55]:
type(avogadro_number)

float

Floats can be converted into integers and vice versa using the `float` and `int` functions. The operation of coverting one type of value into another is called casting.

In [56]:
float(current_year)

2020.0

In [57]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [58]:
int(pi)

3

In [59]:
int(avogadro_number)

602214075999999987023872

While performing arithmetic operations, integers are automatically converted to floats if any of the operands is a float. Also, the division operator `/` always returns a float, even if both operands are integers. Use the `//` operator if you want the result of division to be an `int`.

In [60]:
type(45 * 3.0)

float

In [61]:
type(45 * 3)

int

In [62]:
type(10/3)

float

In [63]:
type(10/2)

float

In [64]:
type(10//2)

int

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [65]:
is_today_Sunday = True

In [66]:
is_today_Sunday

True

In [67]:
type(is_today_Saturday)

bool

Booleans are generally returned as the result of a comparision operation (e.g. `==`, `>=` etc.).

In [68]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [69]:
is_ice_bag_expensive

False

In [70]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [71]:
5 + False

5

In [72]:
3. + True

4.0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The emtpy set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evalutes to `True` is often called a *truthy* value).

In [73]:
bool(False)

False

In [74]:
bool(0)

False

In [75]:
bool(0.0)

False

In [76]:
bool(None)

False

In [77]:
bool("")

False

In [78]:
bool([])

False

In [79]:
bool(())

False

In [80]:
bool({})

False

In [81]:
bool(set())

False

In [82]:
bool(range(0))

False

In [83]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [84]:
nothing = None

In [85]:
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [86]:
today = "Saturday"

In [87]:
today

'Saturday'

In [88]:
type(today)

str

You can use single quotes inside a string written with double quotes, and vice versa.

In [89]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [90]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [91]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [92]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot.'

To use the a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [93]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [94]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [95]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''

In [96]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" \nDad: "No sun."'

Multiline strings are best displayed using the `print` function.

In [97]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [98]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [99]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

You can check the length of a string using the `len` function.

In [100]:
len(my_favorite_movie)

31

Note that special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as 2 characters.

In [101]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [102]:
len(multiline_string)

3

A string can be converted into a list of characters using `list` function.

In [103]:
list(multiline_string)

['a', '\n', 'b']

Strings also support several list operations, which are discussed in the next section. We'll look at a couple of examples here.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [104]:
today = "Saturday"

In [105]:
today[0]

'S'

In [106]:
today[3]

'u'

In [107]:
today[7]

'y'

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [108]:
today[5:8]

'day'

You can also check whether a string contains a some text using the `in` operator.

In [109]:
'day' in today

True

In [110]:
'Sun' in today

False

Two or more strings can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [111]:
full_name = "Derek O'Brien"

In [112]:
greeting = "Hello"

In [113]:
greeting + full_name

"HelloDerek O'Brien"

In [114]:
greeting + " " + full_name + "!" # additional space

"Hello Derek O'Brien!"

String in Python have many built-in *methods* that can be used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types, and are accessed using the `.` notatation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [115]:
today.lower()

'saturday'

In [116]:
"saturday".upper()

'SATURDAY'

In [117]:
"monday".capitalize() # changes first character to uppercase

'Monday'

The `.replace` method is used to replace a part of the string with another string. It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.

In [118]:
another_day = today.replace("Satur", "Wednes")

In [119]:
another_day

'Wednesday'

Note that a new string is returned, and the original string is not modified.

In [120]:
today

'Saturday'

The `.split` method can be used to split a string into a list of strings based using the character(s) provided.

In [121]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The .strip method is used to remove whitespace characters from the beginning and end of a string.

In [122]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [123]:
a_long_line_stripped = a_long_line.strip()

In [124]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

The `.format` method is used to combine values of other data types e.g. integers, floats, booleans, lists etc. with strings. It is often used to create output messages for display.

In [125]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [126]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible use the string concatenation operator `+` to combine strings with other values, however, those values must first be converted to strings using the `str` function.

In [127]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: ignored

In [128]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

In fact, the `str` can be used to convert a value of any data type into a string.

In [129]:
str(23)

'23'

In [130]:
str(23.432)

'23.432'

In [131]:
str(True)

'True'

In [132]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

Note that all string methods returns new values, and DO NOT change the existing string. You can find a full list of string methods here: https://www.w3schools.com/python/python_ref_string.asp.

Strings also support the comparision operators `==` and `!=` for checking whether two strings are equal

In [133]:
first_name = "John"

In [134]:
first_name == "Doe"

False

In [135]:
first_name == "John"

True

In [136]:
first_name != "Jane"

True

We've looked at the primitive data types in Python, and we're now ready to explore non-primitive data structures or containers.

Before continuing, let us run `jovian.commit` once again to record another snapshot of our notebook.

In [ ]:
jovian.commit()

Running `jovian.commit` multiple times within a notebook automatically records new versions. You will continue to have access to all the previous versions of your notebook, using the versions dropdown on the Jovian.ml web interface.

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types, and support operations to add, remove and change values. Lists have the type `list`.

To create a list, enclose a list of values within square brackets `[` and `]`, separated by commas.

In [137]:
fruits = ['apple', 'banana', 'cherry']

In [138]:
fruits

['apple', 'banana', 'cherry']

In [139]:
type(fruits)

list

Let's try creating a list containing values of different data types, including another list.

In [140]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [141]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [142]:
empty_list = []

In [143]:
empty_list

[]

To determine the number of values in a list, use the `len` function. In general, the `len` function can be used to determine of values in several other data types.

In [144]:
len(fruits)

3

In [145]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [146]:
len(a_list)

6

In [147]:
len(empty_list)

0

You can access the elements of a list using the the *index* of the element, starting from the index 0.

In [148]:
fruits[0]

'apple'

In [149]:
fruits[1]

'banana'

In [150]:
fruits[2]

'cherry'

If you try to access an index equal to or higher than the length of the list, Python returns an `IndexError`.

In [151]:
fruits[3]

IndexError: ignored

In [152]:
fruits[4]

IndexError: ignored

In [153]:
fruits[-1]

'cherry'

In [154]:
fruits[-2]

'banana'

In [155]:
fruits[-3]

'apple'

In [156]:
fruits[-4]

IndexError: ignored

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [157]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [158]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [159]:
len(a_list)

6

In [160]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

Note that the start index (`2` in the above example) of the range is included in the list, but the end index (`5` in the above example) is not included. So, the result has 3 values (indices `2`, `3` and `4`).

Here are some experiments you should try out (use the empty cells below):

* Try setting one or both indices of the range are larger than the size of the list e.g. `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index of the range e.g. `list_a[2:10]`
* Try leaving out the start or end index of a range e.g. `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range e.g. `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them a great tool for learning and experimentation. Most questions that arise while you are learning Python for the first time can be resolved by simply typing the code into a cell and executing it. Let your curiosity run wild, and discover what Python is capable of, and what it isn't!

In [161]:
a_list[10:20]

[]

In [162]:
a_list[0:20]

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [163]:
a_list[3:]

[3.14, ['apple', 'banana', 'cherry'], True]

In [164]:
a_list[:3]

[23, 'hello', None]

In [165]:
a_list[-2:-5]

[]

This is a empty list because it is not possible go from the second last element to fifth last element in a python list. The order of elements in a python list is persistent, the order is preserved and can not be reversed.

In [166]:
a_list[-5:-2]

['hello', None, 3.14]

You can also change the value at a specific index within a list using the assignment operation.

In [167]:
fruits

['apple', 'banana', 'cherry']

In [168]:
fruits[1] = 'blueberry'

In [169]:
fruits

['apple', 'blueberry', 'cherry']

A new value can be added to the end of a list using the `append` method.

In [170]:
fruits.append('dates')

In [171]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

A new value can also be inserted a specific index using the `insert` method.

In [172]:
fruits.insert(1, 'banana')

In [173]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

You can remove a value from the list using the `remove` method.

In [174]:
fruits.remove('blueberry')

In [175]:
fruits

['apple', 'banana', 'cherry', 'dates']

What happens if a list has multiple instances of the value passed to `.remove`? Try it out.

In [176]:
fruits.remove('apple', 'cherry')

TypeError: ignored

To remove an element from a specific index, use the `pop` method. The method also returns the removed element.

In [177]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [178]:
fruits.pop(1)

'banana'

In [179]:
fruits

['apple', 'cherry', 'dates']

If no index is provided, the `pop` method removes the last element of the list.

In [180]:
fruits.pop()

'dates'

In [181]:
fruits

['apple', 'cherry']

You can test whether a list contains a value using the `in` operator.

In [182]:
'pineapple' in fruits

False

In [183]:
'cherry' in fruits

True

To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.

In [184]:
fruits

['apple', 'cherry']

In [185]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [186]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

To create a copy of a list, use the `copy` method. Modifying the copied list does not affect the original list.

In [187]:
more_fruits_copy = more_fruits.copy()

In [188]:
more_fruits_copy

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [189]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [190]:
# Original list remains unchanged
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using one variable will affect the other.

In [191]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [192]:
more_fruits_not_a_copy = more_fruits

In [193]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [194]:
more_fruits_not_a_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [195]:
more_fruits

['apple', 'cherry', 'tomato', 'guava', 'dates']

Just like strings, there are several in-built methods to manipulate a list. Unlike strings, however, most list methods modify the original list, rather than returning a new one. Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp


Following are some exercises you can try out with list methods (use the blank code cells below):

* Reverse the order of elements in a list
* Add the elements of one list to the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

In [196]:
more_fruits_copy_2 = more_fruits.copy()
more_fruits_copy_2

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [202]:
more_fruits_copy_2.reverse()
more_fruits_copy_2

['dates', 'guava', 'tomato', 'cherry', 'apple']

In [206]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo', 'Ferrari']
fruits.extend(cars)
fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', 'Ferrari']

In [208]:
cars.sort()
cars

['BMW', 'Ferrari', 'Ford', 'Volvo']

In [210]:
list_of_numbers = [4, 9, 3, 6, 9, 38, 2835, 283982, -2, -3234, 4, 5]
list_of_numbers.sort(reverse=True)
list_of_numbers

[283982, 2835, 38, 9, 9, 6, 5, 4, 4, 3, -2, -3234]

### Tuple

A tuple is an ordered collection of values, similar to a list, however it is not possible to add, remove or modify values in a tuple. A tuple is created by enclosing values within parantheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [211]:
fruits = ('apple', 'cherry', 'dates')

In [212]:
# check no. of elements
len(fruits)

3

In [213]:
# get an element (positive index)
fruits[0]

'apple'

In [214]:
# get an element (negative index)
fruits[-2]

'cherry'

In [215]:
# check if it contains an element
'dates' in fruits

True

In [216]:
# try to change an element
fruits[0] = 'avocado'

TypeError: ignored

In [217]:
# try to append an element
fruits.append('blueberry')

AttributeError: ignored

In [218]:
# try to remove an element
fruits.remove('apple')

AttributeError: ignored

You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [219]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [220]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

You can also create a tuple with just one element, if you include a comma after the element. Just wrapping it with parantheses `(` and `)` won't create a tuple.

In [221]:
single_element_tuple = 4,

In [222]:
single_element_tuple

(4,)

In [223]:
another_single_element_tuple = (4,)

In [224]:
another_single_element_tuple

(4,)

In [225]:
not_a_tuple = (4)

In [226]:
not_a_tuple

4

Tuples are often used to create multiple variables with a single statement.

In [227]:
point = (3, 4)

In [228]:
point_x, point_y = point

In [229]:
point_x

3

In [230]:
point_y

4

You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [231]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [232]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Tuples have just 2 built-in methods: `count` and `index`. Can you figure out what they do? While look could look for documentation and examples online, there's an easier way to check the documentation of a method, using the `help` function.

In [233]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [234]:
help(a_tuple.count)

Help on built-in function count:

count(...) method of builtins.tuple instance
    T.count(value) -> integer -- return number of occurrences of value

Within a Jupyter notebook, you can also start a code cell with `?` and type the name of a function or method. When you execute this cell, you will see the documentation for the function/method in a pop-up window.

In [235]:
?a_tuple.index

Try using `count` and `index` with `a_tuple` in the code cells below.

In [241]:
help(a_tuple.count)

Help on built-in function count:

count(...) method of builtins.tuple instance
    T.count(value) -> integer -- return number of occurrences of value

In [243]:
a_tuple.count("hello")

2

In [244]:
help(a_tuple.index)

Help on built-in function index:

index(...) method of builtins.tuple instance
    T.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

In [245]:
a_tuple.index("hello")

1

### Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. Keys are used to retrieve values from the dictionary. Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within curly brackets `{` and `}`.

In [246]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [247]:
person1

{'age': 32, 'married': True, 'name': 'John Doe', 'sex': 'Male'}

Dictionaries can also be created using the `dict` function.

In [248]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [249]:
person2

{'age': 28, 'married': False, 'name': 'Jane Judy', 'sex': 'Female'}

In [250]:
type(person1)

dict

Keys can be used to access values using square brackets `[` and `]`.

In [251]:
person1['name']

'John Doe'

In [252]:
person1['married']

True

In [253]:
person2['name']

'Jane Judy'

If a key isn't present in the dictionary, then a `KeyError` is returned.

In [254]:
person1['address']

KeyError: ignored

The `get` method can also be used to access the value associated with a key.

In [255]:
person2.get("name")

'Jane Judy'

The `get` method also accepts a default value which is returned if the key is not present in the dictionary.

In [256]:
person2.get("address", "Unknown")

'Unknown'

You can check whether a key is present in a dictionary using the `in` operator.

In [257]:
'name' in person1

True

In [258]:
'address' in person1

False

You can change the value associated with a key using the assignment operator.

In [259]:
person2['married']

False

In [260]:
person2['married'] = True

In [261]:
person2['married']

True

The assignment operator can also be used to add new key-value pairs to the dictonary.

In [262]:
person1

{'age': 32, 'married': True, 'name': 'John Doe', 'sex': 'Male'}

In [263]:
person1['address'] = '1, Penny Lane'

In [264]:
person1

{'address': '1, Penny Lane',
 'age': 32,
 'married': True,
 'name': 'John Doe',
 'sex': 'Male'}

To remove a key and the associated value from a dictionary, use the `pop` method.

In [265]:
person1.pop('address')

'1, Penny Lane'

In [266]:
person1

{'age': 32, 'married': True, 'name': 'John Doe', 'sex': 'Male'}

Dictonaries also provide methods to view the list of keys, values or key-value pairs inside it.

In [267]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [268]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [269]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [270]:
person1.items()[1]

TypeError: ignored

The result of the `keys`, `values` or `items` look like lists but don't seem to support the indexing operator `[]` for retrieving elements. 

Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*

In [281]:
person1_keys = list(person1.keys())
person1_values = list(person1.values())
person1_items = list(person1.items())

In [283]:
person1_keys[1]

'sex'

In [284]:
person1_values[1]

'Male'

In [285]:
person1_items[1]

('sex', 'Male')

Dictionaries provide many other methods. You can learn more about them here: https://www.w3schools.com/python/python_ref_dictionary.asp

Here are some experiments you can try out with dictionaries (use the empty cells below):
* What happens if you use the same key multiple times while creating a dictionary?
* How can you create a copy of a dictionary (modifying the copy should not change the original)?
* Can the value associated with a key itself be a dictionary?
* How can you add the key value pairs from one dictionary into another dictionary? Hint: See the `update` method.
* Can the keys of a dictionary be something other than a string e.g. a number, boolean, list etc.?

In [293]:
# python creates the dictionary with the last repeated keys

person3 = {
    'name': 'Gilberto Filho',
    'name': 'Male',
    'sex': 40,
    'sex': True
}
person3

{'name': 'Male', 'sex': True}

In [294]:
# you can use the copy method to crate a copy of a dictionary
# modifying the copy should not change the original

person4 = {
    'name': 'Gilberto Filho',
    'sex': 'Male',
    'age': 40,
    'married': True
}
person5 = person4.copy()
person5['married'] = False
print(person4)
print(person5)

{'name': 'Gilberto Filho', 'sex': 'Male', 'age': 40, 'married': True}
{'name': 'Gilberto Filho', 'sex': 'Male', 'age': 40, 'married': False}

In [297]:
# a dictionary key can be itself a dictionary, this is a concept called nested dictionary

person6 = {
    'name': 'Gilberto Filho',
    'sex': 'Male',
    'age': 40,
    'married': {
        'age30': True,
        'age40': False
    }
}
person6

{'age': 40,
 'married': {'age30': True, 'age40': False},
 'name': 'Gilberto Filho',
 'sex': 'Male'}

In [304]:
# by merging two dictionaries with update method we can add the key value pairs from one dictionary into another one

country_code_dict1 = {'Brazil': 55, 'USA' : 1, 'India' : 91}
country_code_dict2 = {'UK': 44, 'Portugal' : 351}
coutry_code_dict1.update(country_code_dict2)
coutry_code_dict1

{'Brazil': 55, 'India': 91, 'Portugal': 351, 'UK': 44, 'USA': 1}

In [308]:
# you can use an integer, float, string, or boolean as a dictionary key

person7 = {
    1: 'Gilberto Filho',
    1.1: 'Male',
    'age': 40,
    True: {
        'age30': True,
        'age40': False
    }
}
person7

{1: {'age30': True, 'age40': False}, 1.1: 'Male', 'age': 40}

In [311]:
# however you cannot use a list as a dictionary key
# for more information, please visit: https://wiki.python.org/moin/DictionaryKeys

person8 = {
    1: 'Gilberto Filho',
    1.1: 'Male',
    'age': 40,
    [list1]: 'value1'
    }
person8

NameError: ignored

## Further Reading

We've now completed our exploration of variables and common data types in Python. Following are some resources to learn more about data types in Python:

* Python official documentation: https://docs.python.org/3/tutorial/index.html
* Python Tutorial at W3Schools: https://www.w3schools.com/python/
* Practical Python Programming: https://dabeaz-course.github.io/practical-python/Notes/Contents.html

You are now ready to move on to the next tutorial: [Branching using conditional statements and loops in Python](https://jovian.ml/aakashns/python-branching-and-loops)

Let's save a snapshot of our notebook one final time using `jovian.commit`.

In [ ]:
jovian.commit()